doctype html
html
    head
        meta(charset = 'utf8')
        meta(name = 'viewport', content = 'width=device-width, initial-scale=1')
        title #{site_title}

        // Pure.css
        link(rel = 'stylesheet' href = 'http://yui.yahooapis.com/pure/0.6.0/pure-min.css')
        link(rel = 'stylesheet' href = 'http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css')
        link(rel = 'stylesheet' href = '/css/side-menu.css')

        // Fonts
        link(rel = 'stylesheet' href = 'http://fonts.googleapis.com/earlyaccess/notosansjp.css')
        link(rel = 'stylesheet' href = 'https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Arimo:400,700')

        // Icons
        link(rel = 'stylesheet' href = 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
        link(rel = 'stylesheet' href = 'https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css')

        link(rel = 'stylesheet' href = '/css/main.css')
    body
        div#layout
            a(href = '#menu', id = 'menuLink', class = 'menu-link')
                span

            div#menu
                div.pure-menu
                    a.pure-menu-heading(href = '/') #{site_title}
                    ul.pure-menu-list
                        li.pure-menu-item
                            img.circle_img#menu-mopp-icon(src = 'img/mopp_main_icon.png')
                        for obj, path in public._data
                            li.pure-menu-item.menu-item-divided
                                a.pure-menu-link(href = '#{path}')
                                    i.menu-icon.fa(class = 'fa-#{obj.icon}')
                                    span #{obj.title}
                div#menu-link-container
                    a(target="_blank" href = 'https://github.com/mopp'):                                    i.menu-link-icon.fa(class = 'fa-github')
                    a(target="_blank" href = 'https://twitter.com/mopp_jp'):                                i.menu-link-icon.fa(class = 'fa-twitter')
                    a(target="_blank" href = 'https://www.facebook.com/yuta.kobiyama'):                     i.menu-link-icon.fa(class = 'fa-facebook-official')
                    a(target="_blank" href = 'https://www.amazon.co.jp/gp/registry/wishlist/L86ZMQY2FVE1'): i.menu-link-icon.fa(class = 'fa-amazon')

            div#main
                div.header
                    h1 もぷりす
                    h2 Mopp's Pages
                div.content
                    != yield

        footer
            div#footer-content
                span &copy; 2016 Copyright mopp, All Rights Reserved.

        script(src = 'https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
        script(src = '/js/lib/ui.js')
        if current.source == 'index'
            script(src = '/js/index.js')
