doctype html
html
    head
        meta(charset = 'utf8')
        meta(name = 'viewport', content = 'width=device-width, initial-scale=1')
        title #{site_title}

        // Pure.css
        link(rel = 'stylesheet' href = 'http://yui.yahooapis.com/pure/0.6.0/pure-min.css')
        link(rel = 'stylesheet' href = 'http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css')
        link(rel = 'stylesheet' href = '/css/side-menu.css')

        // Fonts
        link(rel = 'stylesheet' href = 'http://fonts.googleapis.com/earlyaccess/notosansjp.css')
        link(rel = 'stylesheet' href = 'https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Arimo:400,700')
        link(rel = 'stylesheet' href = 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')

        link(rel = 'stylesheet' href = '/css/main.css')
    body
        div#layout
            a(href = '#menu', id = 'menuLink', class = 'menu-link')
                span
            div#menu
                div.pure-menu
                    a(href = '/', class = 'pure-menu-heading') #{site_title}
                    br
                    img#side_icon.circle_img(src = 'img/mopp_main_icon.png', style = 'max-width: 80%')
                    br
                    ul.pure-menu-list
                        for obj, path in public._data
                            li.pure-menu-item
                                a.pure-menu-link(href = '#{path}')
                                    i(class = 'menu_icon fa fa-#{obj.icon}')
                                    span #{obj.title}
                br
                div.icon_links_container
                    div: a(target="_blank" href = 'https://github.com/mopp'):                                    i(class = 'fa fa-github')
                    div: a(target="_blank" href = 'https://twitter.com/mopp_jp'):                                i(class = 'fa fa-twitter')
                    div: a(target="_blank" href = 'https://www.facebook.com/yuta.kobiyama'):                     i(class = 'fa fa-facebook-official')
                    div: a(target="_blank" href = 'https://www.amazon.co.jp/gp/registry/wishlist/L86ZMQY2FVE1'): i(class = 'fa fa-amazon')

            div#main
                div.header
                    h1 もぷりす
                    h2 Mopp's Pages
                div.content
                    != yield
        footer
            div#footer_content
                span &copy; 2016 Copyright mopp, All Rights Reserved.

        // Utils
        script(src = 'https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
        script(src = 'https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
        script(src = '/js/lib/ui.js')
        script(src = '/js/lib/gh3.min.js')
        script(src = '/js/main.js')
